table{
    /*font-family: -apple-system, BlinkMacSystemFont;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    width: 100%;
}
table .left{
    margin-left: 50px;
}
table .right{
    text-align: center;
}
thead{
    background-color: rgb(2, 2, 59);
    color: white;
}
tbody{
    background-color: rgba(210, 210, 214, 0);
    
}