@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box; 
}
body{
    margin: 0;
}
nav{
    background-color: rgb(8, 8, 120);
    margin: 0px ;
    height: 60px;
}
nav a{
    display: inline-block;
    height: 100%;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color:white;
    text-align: center;
    line-height: 60px;
}
